* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
.box {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inp {
  height: 40px;
  width: 220px;
  border-radius: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.432);
  outline: none;
}
#btn {
  height: 40px;
  border-radius: 40px;
  padding: 14px 20px;
  color: white;
  background-color: blue;
  border: none;
}
#chatbox {
  background-image: url("https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg");
  background-position: center;
  background-size: cover;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 500px;
  width: 350px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-top: transparent;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  
}
#chatbox::-webkit-scrollbar {
  display: none;        
}
.chat {
  display: block;
  color: white;
  background-color: rgb(99, 99, 243);
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px 0;
  width: fit-content;
  max-width: 80%;
}
form{
    display: flex;
    align-items: center;
}
.ubtn{
    display: inline-block;
    height: 40px;
    width: 45px;
    border-radius: 50%;
    background-image: url("https://static.vecteezy.com/system/resources/previews/020/936/967/non_2x/upload-file-icon-for-your-website-design-logo-app-ui-free-vector.jpg");
    background-position: center;
    background-size: cover;
}


.online{
    height: 41px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(134, 66, 66);
    border: 1px solid rgba(0, 0, 0, 0.4);
    position: sticky;
    overflow: auto;
}

.online::-webkit-scrollbar {
  display: none;        
}
.onlineme{
    display: inline-block;
    background-color: green;
    height: 30px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    margin: 5px;
}


#uploadBtn {
  cursor: pointer;
  font-size: 20px;
  margin: 0 8px;
}
